* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Share Tech", sans-serif;
}

main {
    width: 320px;
    height: 650px;
    background: rgb(255, 255, 255);
    border-radius: 40px;
    box-shadow: 0px 0px 8px 9px rgba(34, 60, 80, 0.2);
    overflow: hidden;
}

header {
    width: 100%;
    height: 90px;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
}


.q {
    font-size: 35px;
}

.e {
    width: 40px;
    height: 40px;
    background: url(human1.jpeg) center / contain no-repeat;
    margin-left: 100px;
    border-radius: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
}

.first {
    width: 100%;
    height: 130px;

    padding: 10px;
}

.r {
    font-size: 20px;
}

.container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}

.a {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
    font-size: 30px;
}

.b {
    width: 60px;
    height: 60px;
    background: url(mercedes.jpeg) center / cover no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
}

.c {
    width: 60px;
    height: 60px;
    background: url(bmw.jpeg) center / cover no-repeat;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);

}

.t {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 12px;
}

.second {
    width: 100%;
    height: 380px;
    padding: 10px;
}

.y {
    font-size: 20px;
}

.container2 {
    margin-top: 10px;
}

.aaa {
    width: 100%;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
    padding-left: 8px;
    padding-right: 8px;


}

.bbb {
    width: 100%;
    height: 160px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(34, 60, 80, 0.2);
    padding-left: 8px;
    padding-right: 8px;
}

.aaa .car1 {
    width: 260px;
    height: 120px;
    background: url(car1.png) center / cover no-repeat;
    position: relative;
    left: 10px;
}

.u {
    font-size: 20px;
    margin-top: 9px;
}

.i {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 20px;
}

.bbb .car2 {
    width: 260px;
    height: 120px;
    background: url(car2.png) center / cover no-repeat;
    position: relative;
    left: 10px;
    top: 5px;
}

footer {
    width: 100%;
    height: 50px;
    background: #38455f;
    padding: 10px;
    padding-left: 35px;

}

.container3 {
    display: flex;
    gap: 50px;

}

.a1 {
    width: 25px;
    height: 25px;
    background: url(gear.svg) center / cover no-repeat;

}

.b2 {
    width: 25px;
    height: 25px;
    background: url(bell.svg) center / cover no-repeat;
}

.c3 {
    width: 25px;
    height: 25px;
    background: url(search.svg) center / cover no-repeat;
}

.d4 {
    width: 25px;
    height: 25px;
    background: url(human.svg) center / cover no-repeat;
}